<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/signup.css}">
    <!-- js -->
    <script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>

    <title th:text="#{user.signup.title}"></title>
</head>
<body class="bg-light">
<form id="signup-form" method="post" action="/user/signup" class="form-signup" th:object="${signupForm}">
    <h1 class="text-center" th:text="#{user.signup.title}"></h1>
    <div class="form-group">
        <label for="userId" th:text="#{userId}"></label>
        <input type="text" class="form-control" th:field="*{userId}">
    </div>
    <div class="form-group">
        <label for="password" th:text="#{password}"></label>
        <input type="text" class="form-control" th:field="*{password}">
    </div>
    <div class="form-group">
        <label for="userName" th:text="#{userName}"></label>
        <input type="text" class="form-control" th:field="*{userName}">
    </div>
    <div class="form-group">
        <label for="birthday" th:text="#{birthday}"></label>
        <input type="text" class="form-control" placeholder="yyyy/MM/dd" th:field="*{birthday}">
    </div>
    <div class="form-group">
        <label for="age" th:text="#{age}"></label>
        <input type="text" class="form-control" th:field="*{age}">
    </div>
    <div class="form-group">
        <div th:each="item:${genderMap}" class="form-check-inline">
            <input type="radio" class="form-check-input" th:value="${item.value}" th:field="*{gender}"/>
            <label class="form-check-label" th:text="${item.key}"></label>
        </div>
    </div>
    <input type="submit" th:value="#{user.signup.btn}" class="btn btn-primary w-100 mt-3"/>
</form>
</body>
</html>
