<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.repository.UserMapper">
    <!-- マッピング定義 -->
    <resultMap id="user" type="com.example.domain.user.model.MUser">
        <id column="user_id" property="userId"/>
        <result column="password" property="password"/>
        <result column="user_name" property="userName"/>
        <result column="birthday" property="birthday"/>
        <result column="age" property="age"/>
        <result column="gender" property="gender"/>
        <result column="department_id" property="departmentId"/>
        <result column="role" property="role"/>
    </resultMap>
    <insert id="insertOne">
        insert into m_user(user_id,password,user_name,birthday,age,gender,department_id,role)
        values(#{userId},#{password},#{userName},#{birthday},#{age},#{gender},#{departmentId},#{role})
    </insert>
    <select id="findMany" resultType="MUser">
        select * from m_user
        <where>
            <if test="userId != null">
                user_id like '%' || #{userId} || '%'
            </if>
            <if test="userName != null">
                and user_name like '%' || #{userName} || '%'
            </if>
        </where>
    </select>
    <select id="findOne" resultType="MUser">
        select * from m_user where user_id = #{userId}
    </select>
    <update id="updateOne">
        update m_user set password = #{password}, user_name = #{userName} where user_id = #{userId}
    </update>
    <delete id="deleteOne">
        delete from m_user where user_id = #{userId}
    </delete>
</mapper>
